{% load static %}
<script></script>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="{% static 'django_custom_error_views/output.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
